<!-- <bravo-pdf-webViewer></bravo-pdf-webViewer> -->
<router-outlet></router-outlet>
<!-- <ng-container>
    <input (change)="onPdfUploaded($event)" type="file" id="file" accept="Application/pdf">
    <ngx-dropzone (change)="onPdfUploaded($event)"
        accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
        application/vnd.openxmlformats-officedocument.presentationml.presentation">
    <ngx-dropzone-label>retour</ngx-dropzone-label>
    </ngx-dropzone>
    <input (change)="handleUpload($event)" type="file" id="file">
    <pdf-viewer [src]="'data:image/jpeg;base64,'+base64"
    [render-text]="true"
    [original-size]="false"
    style="width: 400px; height: 500px"
    ></pdf-viewer>
  </ng-container>
  <ng-container>
    <h1>AngularEditor</h1>
  <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  <h1>HTML Output</h1>
  <div class="html">
    {{ htmlContent }}
  </div>
  <button class="btn btn-primary" (click)="exportPDF();">Export To PDF</button>
  </ng-container> -->
<document-editor 
  id="docxForComments" 
  documentServerUrl="http://localhost/"
  [config]="configOnly"
  [events_onDocumentReady]="onDocumentReady">
</document-editor>